body {
    font-family: inherit !important;
    font-size: inherit !important;
}
#toolbar {
    line-height: 1.8em;
}
.CodeMirror {
    height: auto;
}

#preview {
    background-color: white;
    background-image: none;
    width: 99%;
}
